.game {
  background-image: url('../images/main_bg.jpg');
  background-size: contain;
  height: 100vh;
  /*position: relative;*/
}

#canvas {
  /*display: flex;*/
  border: 1px solid black;
  /*margin: auto;*/
  background-image: url('../images/bg-2.png');
  background-size: contain;
  background-repeat: round;
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -15%);
  border-radius: 5px;
  border: 1px solid #6D9358;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  height: 500px;
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -15%);
  background-color: #6D9358;
  border: 1px solid #6D9358;
  border-radius: 5px;
  font-family: 'Shojumaru';
}


.header h1 {
  font-size: 32px;
}

.header h2 {
  margin-top: 50px;
  font-size: 19px;
}

.header h3 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 14px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.footer-img img {
  width: 400px;
  height: auto;
}

/*#directions {
  box-sizing: border-box;
  padding: 25px 50px;;
}*/

.how-to-play {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Bungee'
}

.how-to-play img {
  width: 400px;
  height: auto;
}

.how-to-play h2 {
  margin: 20px 0;
  font-size: 18px;
}

.how-to-play h4 {
  margin: 20px 0;
  font-size: 24px;
}

.how-to-play p {
  font-size: 14px;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}


#arrows {
  width: 75px;
  height: auto;
  margin-bottom: 5px;
}

#spacebar {
  width: 175px;
  height: auto;
  margin: 15px 0 10px 0;
}

#pizza-box {
  width: 75px;
  height: auto;
  margin: 15px 0;
}

#pizza {
  width: 40px;
  height: auto;
  margin: 10px 0;
}

#enter {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}

.start {
  display: flex;
  align-items: baseline;
}

.keys {
  display: flex;
  justify-content: center;
}




.hidden {
  display: none;
}
