.game {
  background-image: url('../images/tmnt_3.jpg');
  /*background-position: 50px 200px;;;*/
  background-size: contain;
  height: 100vh;;
}

#canvas {
  /*display: flex;*/
  border: 1px solid black;
  /*margin: auto;*/
  background-image: url('../images/bg-2.png');
  background-size: contain;
  background-repeat: round;
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
  border-radius: 5px;
  border: 1px solid #6D9358;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  height: 500px;
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
  background-color: #6D9358;
  border: 1px solid #6D9358;
  border-radius: 5px;
  font-family: 'Shojumaru';
}


.modal h1 {
  font-size: 32px;
}

.modal h2 {
  margin-top: 50px;
  font-size: 19px;
}

.modal h3 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 14px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.footer-img img {
  width: 400px;
}

.hidden {
  display: none;
}
